.header {
  background-color: #060808; }
  .header-wrap {
    max-width: 114rem;
    margin: 0 auto;
    display: grid;
    grid-gap: clamp(20px, 2vw, 50px);
    grid-template-columns: 80px 80px 80px 1fr auto;
  }
  .header .block-search{
    justify-content: flex-end;
  }
  .header .logo {
    height: 80px;
    width: 80px;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
  .logo:hover{
    transform: scale(1.1);
  }

header {
  padding: 0; }
  header .block {
    display: flex;
    align-items: center; }
  header .menu--main {
    justify-content: flex-end; }
  header nav .menu {
    display: flex; }
    header nav .menu li:not(:last-child) {
      margin-right: 2rem; }
  header nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #e8e8e8; }

.block-system-branding-block a {
  text-transform: uppercase;
  font-size: 2rem;
  color: #e8e8e8;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
  &:hover {
    color: #fff;
  }
}

