#block-weatherblock{
  width: 40px;
  height: 40px;
  align-self: center;
}

#weather-block-city-form {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 7;
  column-count: 2;
  column-gap: 20px;
  display: none;
}

.block-weather-block h2{
  color: #fff;
}

#block-weatherblock:hover #weather-block-city-form {
  display: block;
}

#weather-block-city-form ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#weather-block-city-form li {
  margin-bottom: 10px;
}
