{#
/**
 * @file
 * Theme override for a views block.
 *
 * Available variables:
 * - content: The block content.
 * - attributes: HTML attributes for the block wrapper.
 * - label_hidden: Whether the block label is hidden.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
<div{{ attributes }}>
  {% if label_hidden %}
    <h2{{ title_attributes.addClass('visually-hidden') }}>{{ title }}</h2>
  {% endif %}
  <a>ГОЛОВНЕ</a>
  {{ content }}
</div>


