{#
/**
 * @file
 * Displays the documentation for a class containing a member.
 *
 * Available variables:
 * - class_link: Themed link to the class.
 * - class_info: Summary line for the class.
 * - class: Object with information about the class.
 * - branch: Object with information about the branch.
 *
 * @see api_preprocess_api_class_section()
 *
 * @ingroup themeable
 */
#}
<p class="api-class-section">
  <dl>
    <dt>{{ class_link }}</dt>
    <dd>{{ class_info }}</dd>
  </dl>
</p>
