<div class="weather-block">
  <div class="weather-block__city"><a>{{ city }}</a></div>
  <div class="weather-block__temperature"><a>{{ temperature }}°C</a></div>
  <div class="weather-block__description"><a>{{ description }}</a></div>
</div>
