{% set cls = 'menu-user-anonymous' %}
<nav class="{{ cls }}">
  <ul class="{{ cls }}-menu">
    <li class="{{ cls }}-item">
      <a class="{{ cls }}-link" href="">

      </a>
    </li>
  </ul>
</nav>
